@using RandomMovieGenerator1.DBObjects;

<h2>Generated Before</h2>

<table class="table">
	<thead>
		<tr>
			<th>Movie ID</th>
			<th>Generated On</th>
			<th>Title</th>
			<th>Release</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
		<!-- Loop to fill every row in the table based on the data -->
		@foreach (CurrentMovie generatedMovie in ViewBag.generatedMovies)
		{
		<tr>
			<td>@generatedMovie.movieID</td>
			<td>@generatedMovie.date</td>
			<td>@generatedMovie.title</td>
			<td>@generatedMovie.release</td>
			<td><a target="_blank" href="@generatedMovie.image">IMAGE</a></td>
		</tr>
		}
	</tbody>
</table>  