@using System.Linq


@{
	var currentMovieID = ViewBag.currentMovieID;
	var currentMovieName = ViewBag.currentMovieName;
	var currentMovieOverview = ViewBag.currentMovieOverview;
	var currentMovieRelease = ViewBag.currentMovieRelease;
	var currentMovieGenres = ViewBag.currentMovieGenres;
	var currentMovieCast = ViewBag.currentMovieCast;
	var currentMovieDirectors = ViewBag.currentMovieDirectors;
	var currentMovieImage = ViewBag.currentMovieImage;
	int lastCurrentMovieCastIndex = currentMovieCast.Count - 1;
	int lastCurrentMovieDirectorsIndex = currentMovieDirectors.Count - 1;

}
<div class="movie">
	<div class="info">
		<div>
			<!--	<h3>ID: @currentMovieID</h3> -->
			<h2>
				@currentMovieName @if (currentMovieRelease != null)
		{<span>(@currentMovieRelease)</span>}
			</h2>
			<h3>
				@foreach (var item in currentMovieGenres)
		{<span>@item &nbsp &nbsp &nbsp</span>}

			</h3>

			
			
		<p>
		<span class="bold">Director:</span>
		<!-- Logic for putting comma after each director if there are more except the last one -->
		@if (currentMovieDirectors[0] != null)
		{
			foreach (var item in currentMovieDirectors)
			{
				if (item.Equals(currentMovieDirectors[lastCurrentMovieDirectorsIndex]))
				{
					<span class="normaltext">@item</span>}
		else
		{<span>@item,&nbsp</span>}
}
}
			</p>
			<p>

		<span class="bold">	Cast: </span>
		<!-- Logic for putting comma after each cast if there are more except the last one -->
		@if (currentMovieCast[0] != "No cast was specified")
		{
		foreach (var item in currentMovieCast)
		{
			if (item.Equals(currentMovieCast[lastCurrentMovieCastIndex]))
			{
				<span>@item</span>}
		else
		{ <span>@item,&nbsp</span>}
		}
		}
		</p>
		<p>@currentMovieOverview</p>
		</div>
	</div>
	<div class="poster">
		<img src="@currentMovieImage" />
	</div>
</div>

