@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>

	<div class="box">
		<header class="header">
			<img alt="header" src="~/Content/wallhaven-165185.png" />
			<h1>Random Movie Generator</h1>
			<div class="buttons">
					@using (Html.BeginForm("Generate", "Home", FormMethod.Get))
	{
				<div class="form-group">
					<input class="w3-button w3-border w3-hover-white" id="generate" type="submit" value="Generate a Movie" />
				</div>
}
				
					@using (Html.BeginForm("GeneratedMovies", "Home", FormMethod.Get))
	{
				<div class="form-group">
					<input class="w3-button w3-border w3-hover-white" id="database" type="submit" value="Generated before" />
				</div>
}
			</div>
		</header>
		<div class="container">
			@RenderBody()


		</div>


		@Scripts.Render("~/bundles/bootstrap")
	</div>
	<!--	<footer>
			<hr />
			<p>&copy; @DateTime.Now.Year - Jakub Kot</p>
		</footer>
		-->
</body>
</html>